---
import { navLinks } from "../../utils/navLinks";
import Glass from "../layouts/Glass.astro";
import TextGradient from "./TextGradient.astro";
---

<footer class="border-t-2 z-30 border-t-gray-600 inset-x-0 bottom-0">
  <Glass>
    <div class="grid grid-cols-3 p-4 sm:w-1/2">
      <nav>
        <h3 class="font-bold">Navigation</h3>
        <ul class="text-gray-600 text-sm dark:text-gray-400">
          {
            [{ title: "Home", href: "/", external: false }, ...navLinks].map(
              (nl) => (
                <li>
                  {nl.external ? (
                    <a
                      class="hover:text-black dark:hover:text-white"
                      href={nl.href}
                      target="_blank"
                    >
                      {nl.title}
                    </a>
                  ) : (
                    <a
                      class="hover:text-black dark:hover:text-white"
                      href={nl.href}
                    >
                      {nl.title}
                    </a>
                  )}
                </li>
              )
            )
          }
        </ul>
      </nav>
      <div>
        <h3 class="font-bold">Attribution</h3>
        <ul class="text-gray-600 text-sm dark:text-gray-400">
          <li>
            <a
              class="dark:hover:text-white hover:text-black"
              target="_blank"
              href="#">FeralAI</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold">Socials</h3>
        <ul class="text-gray-600 text-sm dark:text-gray-400">
          <li>
            <a
              class="dark:hover:text-white hover:text-black"
              target="_blank"
              href="#">Discord</a
            >
          </li>
          <li>
            <a
              class="dark:hover:text-white hover:text-black"
              target="_blank"
              href="#">GitHub</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center text-sm mt-2 pb-4">
      <div
        class="flex gap-2 items-center hover:text-black dark:hover:text-white"
      >
        <img height={30} width={30} src="/osc-logo.png" />
        <span class="font-bold"
          ><TextGradient text="Open Stick" hover={false} /></span
        >
      </div>
      <p>&copy; Open Stick Community 2023</p>
    </div>
  </Glass>
</footer>
