---
import TextGradient from "./TextGradient.astro";
interface Props {
  text: string;
  alt?: boolean;
  href: string;
}

const { text, alt, href } = Astro.props;
---

{
  alt ? (
    <a
      href={href}
      target="_blank"
      class="rounded bg-gradient-to-r from-cyan-600 via-teal-600 to-indigo-600 hover:from-cyan-500 hover:via-teal-500 hover:to-indigo-500 p-0.5 shadow-xl group"
    >
      <div class="rounded p-2 bg-slate-200 dark:bg-black font-bold">
        <TextGradient hover={true} text={text} />
      </div>
    </a>
  ) : (
    <a
      href={href}
      target="_blank"
      class={`p-2 rounded group hover:cursor-pointer font-bold bg-gradient-to-br from-cyan-600 via-teal-600 to-indigo-700 hover:from-cyan-500 hover:via-teal-500 hover:to-indigo-600 text-white`}
    >
      {text}
    </a>
  )
}
