---
import type { Vendor } from "../../utils/vendors";
import logo from "/circuit-bg.svg";
import TextGradient from "./TextGradient.astro";

interface Props {
  vendor: Vendor;
}
const { vendor } = Astro.props;
---

<a
  class="flex flex-col bg-gradient-to-br from-rose-500 via-fuchsia-500 to-violet-500 p-0.5 shadow-xl rounded text-white hover:scale-105 ease-out duration-75 transition-transform"
  href={vendor.href}
  target="_blank"
>
  {
    vendor.image ? (
      <div
        style={{ backgroundImage: `url('${vendor.image}')` }}
        class={`h-32 w-full bg-center bg-cover bg-no-repeat flex-grow rounded-t`}
      />
    ) : (
      <div class="relative w-full flex justify-center items-center overflow-hidden flex-grow dark:bg-black/70 bg-white/90">
        <img
          class="bg-clip-text h-32 stroke-inherit bg-gradient-to-br from-rose-400 via-fuchsia-400 to-violet-400"
          alt="GP2040 logo background"
          src={logo}
        />
        <div class="absolute top-0 bottom-0 flex-grow right-0 left-0 z-10 shadow-[inset_0_0px_70px_70px_rgba(226,232,240,.90)] dark:shadow-[inset_0_0px_50px_50px_rgb(0,0,0,.8)] flex justify-center items-center">
          <span class="font-marker font-bold">
            <TextGradient text="GP2040-CE" />
          </span>
        </div>
      </div>
    )
  }
  <div
    class="flex flex-col justify-center items-center py-2 px-4 dark:bg-black rounded-b"
  >
    {
      vendor.icon && vendor.name !== "Mister-Addon" ? (
        <img
          class="max-h-12 w-auto"
          src={vendor.icon}
          alt={`${vendor.name} icon`}
        />
      ) : (
        <span class="py-2">{vendor.name}</span>
      )
    }
  </div>
</a>
